* {
  box-sizing: border-box;
}
html {
  margin-top: 75px;
  background-color: #FDE8E9;
}

main {
  margin-top: 50px; 
  text-align: center;
  padding: 75px;
  border-radius: 5px;
  border: 1px solid var(--border);
  background-color: white;
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25); 
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

.lyricListContainer{
  gap: 14px;
  /* display: grid; */
  padding: 20px;
  /* grid-template-columns: repeat(1, 1fr); */
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: fit-content;
  position: relative;
  padding: 36px;
  border-radius: 5px;
  border: 1px solid var(--border);
  /* background-color: var(--card-background); */
  background-color: white;
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

article>img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

.list {
  min-height: fit-content;
  gap: 14px;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(1, 1fr);
  background-color: #E3BAC6;
}

@media only screen and (min-width: 900px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1200px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1500px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

nav {
  top: 0;
  /* margin: 0px; */
  /* margin-left: -20px; */
  /* margin-right: 200px; */
  /* z-index: 1; */
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  padding: 12px 20px;
  align-items: center;
  background: #E3BAC6;
  /* display: table;  */
  /* border-bottom: black; */
}

nav ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  margin-left: 35px;
  text-align: right;
}

@media only screen and (max-width: 414px) {
  nav ul {
    padding-left: 0px;
  }

  nav li {
    font-size: 15px;
  }
}

.lyricCard {
  /* border: 1px solid black; */
  margin: 10px;
  height: 150px;
  width: 200px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  padding-top: 20px;
}

.lyricListContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

button#delete {
  margin: 10px;
  border-radius: 30px;
  background-color: bisque;
  
}

a#update {
  border: 1px solid black;
  font-weight: 28;
  background-color: bisque;
  padding: 5px;
  border-radius: 20px;
}